.profiling-data-type-toolbar {
  display: flex;
  gap: 40px;
  align-items: center;
  min-height: 26px;
  padding: 0 12px;

  .toolbar-item {
    display: flex;
    align-items: center;
  }

  .toolbar-label {
    font-size: 12px;
    line-height: 20px;
    color: #4d4f56;
  }
}
